<html>
	<head>
		<title>Links</title>
		<style>
			table, tr, td {
				color: #000;
				border: none;
			}
			table tr:nth-child(odd) td{
				background : #ccc;
			}
			table tr:nth-child(even) td{
				background : #fff;
			}
		</style>
	</head>
	<table cellspacing='0'>
		<tr>
			<th>Name</th>
			<th>URL</th>
			<th width='150px'>Group</th>
		</tr>
		{% for i in links %}
		<tr>
			<td>{{ i['name'] }}</td>
			<td>{{ i['url'] }}</td>
			<td>({{ i['group'] }}) {{ groups[i['group']] }}</td>
		</tr>
		{% endfor %}
	</table>
</html>
