<html>
	<head>
		<title>Links</title>
		<script>
			function toggleGroup(id){
				var ele = document.getElementById('g'+id).getElementsByClassName('urls')[0];
				if (ele.style.display === 'block' || ele.style.display === ''){
					ele.style.display = 'none';
				} else {
					ele.style.display = 'block';
				}
			}
		</script>
		<style>
			body {
				background: #fff;
			}
			h1#top {
				margin: 0 auto;
				text-align: center;
			}
			div#links {
				background: #fff;
				max-width: 500px;
				margin: 0 auto;
			}
			div.urls {
				padding: 2px;
			}
			div.group {
				border: 1px inset #000;
				margin-bottom: 10px;
			}
			div.groupName {
				display: block;
				background: #000;
				font-size: 1.2em;
				padding: 2px;
			}
			div.groupName a {
				color: #fff;
				text-decoration: none;
			}
		</style>
	</head>
	<body>
	<!---
	<div id='groups'>
		<h2 align='center'>Groups</h2>
		<ol>
			{% for group in data %}
			<li>
				<a href='#g{{ loop.index0 }}'>{{ group['name']|truncate(20) }}</a>
			</li>
			{% endfor %}
		</ol>
	</div>
	--!>
	<h1 id='top'>Bookmarks</h1>
	<div id='links'>
		{% for group in data %}
		<div id='g{{ loop.index0 }}' class='group'>
			<div class='groupName' {% if 'desc' in group %}title="{{ group['desc'] }}"{% endif %}>
			<a href='#' onclick='toggleGroup({{ loop.index0 }})'>{{ group['name'] }} <a class='top' href="#top">^</a><br />
			</div>
			<div class='urls'>
			{% for url in group['urls'] %}
			<a href='{{ url["url"] }}'>{{ url['name'] }}</a><br />
			{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
	</body>
</html>
