<html>
	<head>
		<title>Links</title>
		<style>
			table, tr, td {
				color: #000;
				border: none;
			}
			table tr:nth-child(odd) td{
				background : #ccc;
			}
			table tr:nth-child(even) td{
				background : #fff;
			}
		</style>
	</head>
	<table cellspacing='0'>
		<tr>
			<th>Name</th>
			<th>URL</th>
			<th>Group</th>
		</tr>
		{% for group in data %}
			{% for url in group['urls'] %}
			<tr>
			<td>{{ url['name'] }}</td>
			<td>{{ url['url'] }}</td>
			<td>{{ group['name'] }}</td>
			</tr>
			{% endfor %}
		{% endfor %}
	</table>
</html>
